* {
  box-sizing: border-box; 
  margin: 0;
  padding: 0;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  margin-bottom: 100px;
}

.header {
  color: white;
  background-color: #ed3a4a;
  text-align: center;
  padding: 20px;
}

.heading {
  margin: 20px;
  text-align: center;
}

ul.navbar-nav li{
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

.nav-link{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.content-wrapper {
  margin: 20px;
  padding: 20px;
  color: rgb(85, 85, 85);
  border-radius: 20px;
  border: 1px solid #dddddd;
  background-color: #ffffff;
}

.search-wrapper {
  background-color: #ffffff;
  padding: 15px;
  text-align: center;
}

.search-bar {
  width: 100%;
  height: 30px;
  color: rgb(85, 85, 85);
  border: 1px solid #dddddd;
  border-radius: 15px;
  padding: 15px;
  font-size: 15px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
  background-color: #ed3a4a;
  text-align: center;
  padding: 20px;
}